{% load static %}
<div id="features" class="features wow fadeInDown">
    <div class="container-m">
      <div class="row text-center">
        <div class="col-md-12">
          <div class="features-intro">
            <h2>Welcome to CodeAura</h2>
            <p>Bringing virtual collaboration closer to natural workspace experience.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="feature-list">
            <div class="card-icon">
              <div class="card-img">
                <img src="{% static 'img/icons/headphone.png' %}" width="35" alt="Feature">
              </div>
            </div>
            <div class="card-text">
              <h3>Multi-Dimentional Audio</h3>
              <p>With our Spatial Audio Technology, bring yourself closer to the clearer and natural communication experience!</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="feature-list">
            <div class="card-icon">
              <div class="card-img">
                <img src="{% static 'img/icons/yoyo.png' %}" width="35" alt="Feature">
              </div>
            </div>
            <div class="card-text">
              <h3>Vibe Together</h3>
              <p>Listen to Spatial music with your teammates to give a natural workspace like experience!</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="feature-list">
            <div class="card-icon">
              <div class="card-img">
                <img src="{% static 'img/icons/handshake.png' %}" width="35" alt="Feature">
              </div>
            </div>
            <div class="card-text">
              <h3>Love the work experience</h3>
              <p>A Collaborative Coding and Designing platform integrated with audio/video call, chat, and file sharing services!</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="feature-list">
            <div class="card-icon">
              <div class="card-img">
                <img src="{% static 'img/icons/lang.png' %}" width="35" alt="Feature">
              </div>
            </div>
            <div class="card-text">
              <h3>Breaking the Barriers</h3>
              <p>Bringing creative minds closer with our Language Translation API. Interact with people all over the world without worrying about language barriers.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="feature-list">
            <div class="card-icon">
              <div class="card-img">
                <img src="{% static 'img/icons/teammate.png' %}" width="35" alt="Feature">
              </div>
            </div>
            <div class="card-text">
              <h3>Search for a Perfect Teammate</h3>
              <p>Find amazing people with our search algorithm according to tasks, language prefrences, and much more...</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="feature-list">
            <div class="card-icon">
              <div class="card-img">
                <img src="{% static 'img/icons/skill-icon.jpg' %}" width="35" alt="Feature">
              </div>
            </div>
            <div class="card-text">
              <h3>Boost your skills and efficiency</h3>
              <p>With our precise stats, know your efficiency and build up yor skills.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>