//  colors
$white: #ffffff;
$seagreen: #069370;
$darkgrey: #262626;
$blue: #005bbb;
$blueDark: #002f56;
$redOrange: #da3c28;
$blueLight: #2f9fd0;
$greyLight: #e7e6e6;
$greyLight2: #e4e4e4;
$vlackLight: #666666;
$yellow: #ffc72c;

// $primary-color: ;
// $secondary-color: ;
